*{
    margin: 0;
    padding: 0;
}
body{
    color: #8FE3CF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #002B5B;
}

#menu{
    border: 1px solid #FBDF07;
    border-radius: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 10px;
    background-color: #002B5B;
    transition: all 0.5s ease;
}
#name{
    margin-top: 20px;
    font-size: 45px;
    text-decoration: underline;
    color: #8FE3CF;
}
.menu_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu_button{
    display: flex;
    align-items: center;
    background-color: #8FE3CF;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.location_info{
    margin: 10px;
    font-size: 13px;
    color: #8FE3CF;
    user-select: none;
}
.heart_animation{
    font-size: 15px;
}
.location_info:hover{
    cursor: pointer;
    animation: heart 0.5s forwards;
}

@keyframes heart {
    from{
        color: #8FE3CF;
        border-bottom: 0px solid black;
    }
    to{
        color: #FBDF07;
        border-bottom: 0.5px solid #FBDF07;
    }
}

#game{
    background-image: linear-gradient(to right, #002B5B , #256D85);
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 1000px;
}

#close_game{
    display: block;
    width: 32px;
    height: 32px;
    color: #8FE3CF;
}
.numbers_box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8FE3CF;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 50px;
    user-select: none;
}
#score{
    color: white;
}
.number_box{
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    background-color: #002B5B;
    border: 1px solid #002B5B;
    color: #8FE3CF;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    
}
.number_box:last-child{
    margin-right: 0px;
}

#controls{
    margin-top: 20px;
    width: 250px;
    height: 200px;
}
#write{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 17px;
    outline: 0px;
}
#send{
    display: block;
    background-color: #002B5B;
    border-radius: 5px;
    margin-left: 75px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #8FE3CF;
    box-shadow: 6px 35px 77px -20px rgba(0,0,0,0.75);
    border: 1px solid #8FE3CF;
}

#death_screen{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 0, 0, 0.78);
    border: 1px solid black;
    border-radius: 0 10px;
    color: white;
}
#death_screen_text{
    margin-bottom: 10px;
}
.death_screen_closed{
    bottom: -100%
}
.death_screen_opened{
    top: 20%;
    right: 40%;
}


#about{
    background-image: linear-gradient(to left, #002B5B , #256D85);
    transition: all 0.5s;
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 1000px;
    color: #8FE3CF;

}
.general_about{
    width: 90%;
    height: 90%;
    border: 1px solid #FBDF07;
    border-radius: 10px 0;
    padding: 10px;
    overflow-y: auto;
}
#about_game{
    display: flex;

}
.about_texts{
    width: 80%;
}
.about_texts a{
    text-decoration: none;
    color: #FBDF07;
}
.about_texts p{
    font-size: 20px;
}
.about_texts > h1 + p{
    margin-bottom: 20px
}

#about_image{
    width: 20%;
    height: 100%;
}
.back_menu{
    display: block;
    width: 32px;
    height: 32px;
    color: #8FE3CF;
}

#creators{
    background:#002B5B;
    transition: all 0.5s;
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 1000px;
    color: #8FE3CF;

}
.centered_content{
    text-align: center;
    margin-bottom: 20px;
}
#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact_box{
    height: 250px;
    width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #002B5B, #8FE3CF);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
#contact a {
    text-decoration: none;
    color: white;
}
.contact_img{
    width: 200px;
}

.backScreenMenu{
    transform: translateY(-100%);
}
.backScreenMenu1{
    transform: translateX(-100%);
}
.backScreenMenu2{
    transform: translateX(100%);
}

.mainScreenGame{
    right: 0px;
    top: 0px;
}
.backScreenGame{
    right: -100%;
    top: 0px;
}
.mainScreenAbout{
    right: 0px;
    top: 0px;
}
.backScreenAbout{
    right: 100%;
    top: 0px;
}
.mainScreenCreators{
    top: 0px;
}
.backScreenCreators{
    top: 100%;
}